<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35184961494-tv2va1fl3c8k4qntov1b28dkqj3h3daf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35184961494-tv2va1fl3c8k4qntov1b28dkqj3h3daf</string>
	<key>API_KEY</key>
	<string>AIzaSyDCfe_B4GLZ5ZsxFB_zGFwcu6Pny-QA5K4</string>
	<key>GCM_SENDER_ID</key>
	<string>35184961494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DS-Studios.FlipBit</string>
	<key>PROJECT_ID</key>
	<string>flipbit-71f98</string>
	<key>STORAGE_BUCKET</key>
	<string>flipbit-71f98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:35184961494:ios:72fab9b3f97ef037d56677</string>
	<key>DATABASE_URL</key>
	<string>https://flipbit-71f98.firebaseio.com</string>
</dict>
</plist>
